@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EFCore.User

<h1>Деталі користувача</h1>

@if (Model != null)
{
    <div>
        <h4>Ім'я користувача: @Model.Username</h4>
    </div>
}
else
{
    <p>Користувач з вказаним електронним адресом не знайдений.</p>
}


