
@{
    ViewData["Title"] = "Focus Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .menu-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .menu-icon img {
            width: 50px;
            height: 50px;
        }

        .user-icon {
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .user-icon img {
            width: 70px;
            height: 70px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #5CF26B;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        .content {
            padding: 20px;
        }

        .photo-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .photo-container img {
            width: 378px; 
            height: 128px; 
            object-fit: cover; 
            margin: 25px; 
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center-container img {
            width: 50px;
            height: 50px;
            margin-right: 50px;
        }
        .slider-container {
            margin-left: 10px; 
            text-align: center; 
        }

        .volume-label {
            font-size: 20px;
            color: white;
        }

        .volume-slider {
            -webkit-appearance: none;
            width: 200px;
            height: 30px; 
            background: #313131;
            outline: none;
            opacity: 1;
            transition: opacity .2s;
            border-radius: 10px;
        }

        .volume-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background: #;
            cursor: pointer;
            border-radius: 0%;
        }

        .volume-slider::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, white 0%, white 0%, transparent 0%, transparent 100%);
            border-radius: 10px;
        }

        .volume-slider::-moz-range-track {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .volume-slider:hover {
            opacity: 1;
        }
           
        .photo-container img {
            transition: transform 0.3s ease; 
        }

        .enlarged {
            transform: scale(1.1); 
        }
    </style>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .menu-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .menu-icon img {
            width: 50px;
            height: 50px;
        }

        .user-icon {
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .user-icon img {
            width: 70px;
            height: 70px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #5FA6E7;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        .content {
            padding: 20px;
        }

        .task-card {
            background-color: #454545;
            border-radius: 12px;
            padding: 20px;
            width: 900px;
            position: center;
            color: white;
            font-size: 16px;
            margin-left: 200px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            /* display: flex;
                    flex-direction: row; */
        }

        .task-checkbox {
            width: 22px;
            height: 22px;
            margin-bottom: 0.4rem;
            margin-right: 0.8rem;
        }

        .task-priority {
            width: 22px;
            height: 22px;
            margin-bottom: 0.4rem;
            margin-left: 2rem;
        }

        .task-border {
            /* width: 2px; */
            font-size: 25px;
            /* height: 22px; */
            /* background: #FFF; */
        }

        .task-card .task-name {
            font-size: 20px;
            margin-bottom: 10px;
            width: 600px;
            /* max-width: 300px; */
            overflow: hidden; /* Hide overflowing text */
            text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
            white-space: nowrap;
        }

        .task-card .task-date {
            font-size: 20px;
            margin-left: 0.6rem;
            margin-right: 0.6rem;
        }

        .navTab {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #4E4747;
            width: 500px;
            height: 100vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .navItem {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .navTabImg {
            margin-left: 60px;
            margin-top: 40px;
            width: 80px;
            height: 80px;
            display: block;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        .navItem span {
            margin-left: 35px;
            margin-top: 40px;
            color: #FFFFFF;
            font-size: 36px;
        }

        .alphaCoverage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.55;
            z-index: 2;
        }

        .copyright {
            position: absolute;
            color: #FFFFFF;
            font-size: 36px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            z-index: 4;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .userTab {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #4E4747;
            width: 570px;
            height: 60vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .top_elements {
            margin-top: 1.55rem;
        }

        .user-icon-in-tab {
            top: 0;
            width: 70px;
            height: 70px;
            margin-left: 11.3rem;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .username {
            color: #FFFFFF;
            font-size: 24px;
            margin-left: 4rem;
        }

        .coins-image {
            width: 26px;
            height: 26px;
            margin-left: 4rem;
            margin-bottom: 0.6rem;
        }

        .coins-text {
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }

        .email_div {
            margin-top: 5rem;
            margin-left: 4rem;
        }

        .email {
            color: #FFFFFF;
            font-size: 28px;
        }

        .exit-block {
            margin-left: 4rem;
            margin-top: 10.5vh;
        }

        .exit-image {
            width: 48px;
            height: 48px;
            margin-bottom: 0.6rem;
        }

        .exit-text {
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }
    </style>
</head>

<body>
    <div>
        <div class="navTab hidden" id="NavTab">
            <div>
                <a class="navItem" asp-controller="Home" asp-action="Index">
                    <img class="navTabImg" src="~/images/home_image.png" alt="Home Icon" />
                    <span>Home</span>
                </a>
            </div>
            <div>
                <a class="navItem" asp-controller="Statistics" asp-action="Statistics">
                    <img class="navTabImg" src="~/images/statistics_image.png" alt="Statistics Icon" />
                    <span>Statistics</span>
                </a>
            </div>
            <div class="navItem">
                <a class="navItem" asp-controller="Focus" asp-action="Focus">
                    <img class="navTabImg" src="~/images/focus_image.png" alt="Focus Icon" />
                    <span>Focus</span>
                </a>
            </div>
            <div class="copyright">
                <span>© Time&amp;Tune</span>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverage" onclick="toggleVisibility()"></div>

        <div class="header">
            <div class="menu-icon">
                <img src="~/images/menu_icon.png" alt="Menu Icon" onclick="toggleVisibility()" />
            </div>
            <div class="page-title-container">
                <div class="page-title">Home</div>
            </div>
            <div class="user-icon" onclick="toggleVisibility1()">
                <img src="~/images/user_image.png" alt="User Icon" />
            </div>
        </div>

        <div class="userTab hidden" id="UserTab">
            <div class="top_elements">
                <span class="username">Username</span>
                <img class="user-icon-in-tab" src="~/images/user_image.png" alt="User Icon" />
            </div>
            <div>
                <img class="coins-image" src="~/images/coins_image.png" alt="Coins Icon" />
                <span class="coins-text">142</span>
            </div>
            <div class="email_div">
                <span class="email">example@gmail.com</span>
            </div>
            <div class="exit-block">
                <img class="exit-image" src="~/images/exit_image.png" alt="Coins Icon" />
                <span class="exit-text">Exit</span>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverage1" onclick="toggleVisibility1()"></div>
    </div>
   




    <div class="center-container">
        <img id="playButton" src="~/images/play.png" alt="play icon" onclick="toggleSoundEffects()" />
        <div class="slider-container">
            <div class="volume-label">Master Volume</div>
            <input type="range" min="0" max="100" value = "50" class="volume-slider" id="mySlider">
        </div>
    </div>

    <div class="photo-container">
        <img src="~/images/cafeImage.png" alt="Cafe" onclick="playMusic('cafeSound', this)">
        <img src="~/images/rainImage.png" alt="Rain" onclick="playMusic('rainSound', this)">
        <img src="~/images/fireplaceImage.png" alt="Camp Fire" onclick="playMusic('campFireSound', this)">
        <img src="~/images/nightCricketsImage.png" alt="Night Crickets" onclick="playMusic('nigthCricketsSound', this)">
        <img src="~/images/trainImage.png" alt="Train" onclick="playMusic('trainSound', this)">
        <img src="~/images/windImage.png" alt="Wind" onclick="playMusic('windSound', this)">
    </div>

    <audio id="cafeSound" src="~/audios/cafe.mp3"></audio>
    <audio id="campFireSound" src="~/audios/campFire.mp3"></audio>
    <audio id="nigthCricketsSound" src="~/audios/nightCrickets.mp3"></audio>
    <audio id="rainSound" src="~/audios/rain.mp3"></audio>
    <audio id="trainSound" src="~/audios/train.mp3"></audio>
    <audio id="windSound" src="~/audios/wind.mp3"></audio>

    <script>
        let currentAudio = null;
        let currentImage = null;
        const slider = document.getElementById("mySlider");
        slider.value = 50;

        window.addEventListener('load', function () {
            updateSliderBackground();
        });

        function playMusic(audioId, image) {
            var audio = document.getElementById(audioId);

            if (!currentAudio || currentAudio == audio) {
                changePlayButtonState(true);
            }

            if (audio.paused) {
                if(currentAudio){
                    currentAudio.pause();
                    transformImage(currentImage, false);
                }
                changePlayButtonState(false);
                transformImage(image, true);
                currentImage = image;
                currentAudio = audio;
                audio.volume = slider.value/100;
                audio.play();
            } else {
                transformImage(image, false);
                changePlayButtonState(true);
                audio.pause();
                image.classList.remove('enlarged');
            }
        }

        function toggleSoundEffects() {
            if (currentAudio.paused) {
                currentAudio.play();
                transformImage(currentImage, true);
                changePlayButtonState(false);
            } else {
                currentAudio.pause();
                transformImage(currentImage, false);
                changePlayButtonState(true);
            }
        }

        slider.addEventListener("input", function () {
            const value = (slider.value - slider.min) / (slider.max - slider.min);
            console.log(value);
            if (currentAudio) {
                currentAudio.volume = value;
                updateSliderBackground();
            }
        });

        function transformImage(image, flag) {
            if (flag) {
                image.classList.add('enlarged');
            } else {
                image.classList.remove('enlarged');
            }
        }

        function updateSliderBackground() {
            const value = (slider.value - slider.min) / (slider.max - slider.min) * 100;
            slider.style.background = `linear-gradient(to right, white 0%, white ${value}%, #313131 ${value}%, #313131 100%)`;
        }

        function changePlayButtonState(state){
            var targetImage = document.getElementById('playButton');
            if (!state) {
                targetImage.src = "/images/pause.png";
            } else {
                targetImage.src = "/images/play.png";
            }
        }
    </script>
    <script>
        function toggleVisibility() {
            var NavTab = document.getElementById('NavTab');
            var coverage = document.getElementById('coverage');

            if (NavTab.classList.contains('hidden')) {
                NavTab.classList.remove('hidden');
                NavTab.classList.add('visible');
            } else {
                NavTab.classList.remove('visible');
                NavTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        function toggleVisibility1() {
            var UserTab = document.getElementById('UserTab');
            var coverage = document.getElementById('coverage1');

            if (UserTab.classList.contains('hidden')) {
                UserTab.classList.remove('hidden');
                UserTab.classList.add('visible');
            } else {
                UserTab.classList.remove('visible');
                UserTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

    </script>
</body>
</html>
