@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-bottom: 60px;
        }

        .menu-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .menu-icon img {
            width: 50px;
            height: 50px;
        }

        .user-icon {
            width:70px;
            height: 70px;
            cursor: pointer;
        }

        .user-icon img {
            width: 70px;
            height: 70px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #5FA6E7;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        .content {
            padding: 20px;
            overflow: auto;
            max-height: 400px;
        }

        .content::-webkit-scrollbar {
            width: 12px;
            background-color: #D9D9D9;
            border-radius: 8px;
        }

        .content::-webkit-scrollbar-thumb {
            background-color: #3F3E3E;
            border-radius: 8px;
        }

        .content::-webkit-scrollbar-thumb:hover {
            background-color: #3F3E3E;
        }

        .task-card {
            border-radius: 12px;
            padding: 20px;
            width: 80%;
            max-width: 900px;
            margin: 0 auto 20px;
            color: white;
            font-size: 16px;
            background-color: #454545;
            position: center;
            display: flex;
            align-items: center;
            
        }

        .task-checkbox{
            width: 22px;
            height: 22px;
            margin-bottom: 0.4rem;
            margin-right: 0.8rem;
        }

        .task-priority{
            width: 22px;
            height: 22px;
            margin-bottom: 0.4rem;
            margin-left: 2rem;
        }

        .task-border{
            /* width: 2px; */
            font-size: 25px;
            /* height: 22px; */
            /* background: #FFF; */
        }

        .task-card .task-name {
            font-size: 20px;
            margin-bottom: 10px;
            width: 600px;
            /* max-width: 300px; */
            overflow: hidden; /* Hide overflowing text */
            text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
            white-space: nowrap;
        }

        .task-card .task-date {
            font-size: 20px;
            margin-left: 0.6rem;
            margin-right: 0.6rem;
        }

        .buttons-body {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;
            margin-left: 350px;
        }

        .buttons-body .day-button,
        .buttons-body .week-button,
        .buttons-body .month-button {
            width: 150px;
            height: 50px;
            background: #353535;
            border-radius: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-right: 90px;
        }

        .buttons-body .month-button {
            margin-right: 0;
            background: #7A7373;
        }

        .navTab {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #4E4747;
            width: 500px;
            height: 100vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .navItem {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .navTabImg {
            margin-left: 60px;
            margin-top: 40px;
            width: 80px;
            height: 80px;
            display: block;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        .navItem span {
            margin-left: 35px;
            margin-top: 40px;
            color: #FFFFFF;
            font-size: 36px;
        }

        .alphaCoverage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            opacity: 0.55;
            z-index: 2;
        }

        .copyright {
            position: absolute;
            color: #FFFFFF;
            font-size: 36px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            z-index: 4;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .userTab {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #4E4747;
            width: 570px;
            height: 60vh;
            z-index: 3;
            display: flex;
            flex-direction: column;
        }

        .top_elements{
           margin-top: 1.55rem;
        }

        .user-icon-in-tab{
            top: 0;
            width: 70px;
            height: 70px;
            margin-left: 11.3rem;
        }

        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .username{
            color: #FFFFFF;
            font-size: 24px;
            margin-left: 4rem;
        }

        .coins-image{
            width: 26px;
            height: 26px;
            margin-left: 4rem;
            margin-bottom: 0.6rem;
        }

        .coins-text{
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }

        .email_div{
            margin-top: 5rem;
            margin-left: 4rem;
        }

        .email{
            color: #FFFFFF;
            font-size: 28px;
        }

        .exit-block{
            margin-left: 4rem;
            margin-top: 10.5vh;
        }

        .exit-image{
            width: 48px;
            height: 48px;
            margin-bottom: 0.6rem;
        }

        .exit-text{
            color: #FFFFFF;
            font-size: 28px;
            margin-left: 0.5rem;
        }
    </style>
    <style>
        .createTaskTab  {
            position: absolute;
            background-color: #25232a;
            width: 60%;
            height: 70%;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px; /* Заокруглення країв */
            border: 3px solid white; /* Біле обведення */
        }

        .additionalInfoAboutTaskTab {
            position: absolute;
            background-color: #25232a;
            width: 60%;
            height: 70%;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px; /* Заокруглення країв */
            border: 3px solid white; /* Біле обведення */
        }

        .go-back-icon {
            position: absolute;
            left: 20px; 
            top: 20px; 
            margin-top: 10px;
        }

        .go-back-icon img {
            width: 40px;
            height: 40px;
        }

        .dialog-title-container {
            position: absolute;
            top: 20px; /* Розташування зверху на відстані 20 пікселів від краю */
            left: 50%; /* Центрування по горизонталі */
            transform: translateX(-50%); /* Центрування по горизонталі */
            width: 280px;
            height: 60px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #a86b11;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dialog-title-container-additional-info {
            position: absolute;
            top: 20px; /* Розташування зверху на відстані 20 пікселів від краю */
            left: 50%; /* Центрування по горизонталі */
            transform: translateX(-50%); /* Центрування по горизонталі */
            width: 350px;
            height: 60px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #a86b11;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-container {
            width: 50%; /* Половина контейнера по ширині */
            float: left;
        }

        .right-container {
            width: 50%; /* Половина контейнера по ширині */
            float: right;
        }

        .input-group {
            margin-bottom: 20px; /* Відстань між групами полів */
        }

        label {
            color: white; /* Колір тексту надписів */
            font-weight: bold;
            margin-left: 20px;
            margin-bottom: 2px;
        }

        textarea {
            resize: none;
            background-color: #a6a3a3;
        }

        .rounded-input {
            width: calc(120%); /* Ширина поля мінус відстань від країв */
            height: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .rounded-input-description {
            width: calc(120%); /* Ширина поля мінус відстань від країв */
            height: 260px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            margin-top: 100px;
            justify-items: center; /* Центрує елементи по горизонталі в обох колонках */
            align-items: center; /* Центрує елементи по вертикалі */
        }

        .left-container, .right-container {
            text-align: center; /* Центрує вміст у контейнерах по горизонталі */
        }

        .create-button {
            position: fixed; /* Фіксує кнопку на місці незалежно від прокрутки сторінки */
            bottom: 0; /* Розміщує кнопку внизу */
            right: 0; /* Розміщує кнопку справа */
            width: 151px; /* Встановлює ширину кнопки */
            height: 50px; /* Встановлює висоту кнопки */
            margin-right: 74px;
            margin-bottom: 40px;
        }

        .create-button img {
            width: 100%; /* Заповнює всю ширину кнопки */
            height: 100%; /* Заповнює всю висоту кнопки */
        }

        select.rounded-input {
            width: calc(120%); /* Ширина поля мінус відстань від країв */
            height: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 20px;
            appearance: none; /* Приховує стандартний вигляд стрілки вибору */
            background: #a6a3a3; /* Додаємо власну іконку стрілки */
            background-size: 20px; /* Розмір іконки стрілки */
            cursor: pointer; /* Змінюємо курсор на показник при наведенні на поле вибору */
        }

        .plus-button {
            position: fixed; /* Фіксує кнопку на місці незалежно від прокрутки сторінки */
            bottom: 60px; /* Відступ від нижнього краю вікна */
            right: 11rem; /* Відступ від правого краю вікна */
            width: 100px; /* Встановлює ширину кнопки */
            height: 100px; /* Встановлює висоту кнопки */
            background-color: transparent; /* Прозорий фон */
            border: none; /* Видаляє рамку кнопки */
            cursor: pointer; /* Змінює курсор на показник при наведенні на кнопку */
        }

        .plus-button img {
            width: 100%; /* Заповнює всю ширину кнопки */
            height: 100%; /* Заповнює всю висоту кнопки */
        }
        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }

        .button-container {
            margin-top: -35px;
            display: flex;
            justify-content: space-between; 
            align-items: flex-end; 
            width: 100%; 
            height: 100px; 
        }

        .button {
            flex: 1; 
            display: flex;
            justify-content: center; 
            align-items: center; 
        }

        .central-button {
            justify-content: space-around; 
        }

        .button img {
            width: 124px;
            height: 53px;
        }

        .central-button img {
            width: 60px;
            height: 60px;
        }

        .timer-text {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size:30px;
            color: white;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div>
        <div class="navTab hidden" id="NavTab">
            <div>
                <a class="navItem" asp-controller="Home" asp-action="Index">
                    <img class="navTabImg" src="~/images/home_image.png" alt="Home Icon" />
                    <span>Home</span>
                </a>
            </div>
            <div>
                <a class="navItem" asp-controller="Statistics" asp-action="Statistics">
                    <img class="navTabImg" src="~/images/statistics_image.png" alt="Statistics Icon" />
                    <span>Statistics</span>
                </a>
            </div>
            <div class="navItem">
                <a class="navItem" asp-controller="Focus" asp-action="Focus">
                    <img class="navTabImg" src="~/images/focus_image.png" alt="Focus Icon" />
                    <span>Focus</span>
                </a>
            </div>
            <div class="copyright">
                <span>© Time&amp;Tune</span>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverage" onclick="toggleVisibility()"></div>

        <div class="header">
            <div class="menu-icon">
                <img src="~/images/menu_icon.png" alt="Menu Icon" onclick="toggleVisibility()" />
            </div>
            <div class="page-title-container">
                <div class="page-title">Home</div>
            </div>
            <div class="user-icon" onclick="toggleVisibility1()">
                <img src="~/images/user_image.png" alt="User Icon"/>
            </div>
        </div>

        <div class="buttons-body">
            <div class="day-button" id="dayBtn" onclick="DayTable()">
                DAY
            </div>
            <div class="week-button" id="weekBtn" onclick="WeekTable()">
                WEEK
            </div>
            <div class="month-button" id="monthBtn" onclick="MonthTable()">
                MONTH
            </div>
        </div>

        <div class="userTab hidden" id="UserTab">
            <div class="top_elements">
                <span class="username">Username</span>
                <img class="user-icon-in-tab" src="~/images/user_image.png" alt="User Icon" />
            </div>
            <div>
                <img class="coins-image" src="~/images/coins_image.png" alt="Coins Icon" />
                <span class="coins-text">142</span>
            </div>
            <div class="email_div">
                <span class="email">example@gmail.com</span>
            </div>
            <div class="exit-block">
                <img class="exit-image" src="~/images/exit_image.png" alt="Coins Icon" />
                <span class="exit-text">Exit</span>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverage1" onclick="toggleVisibility1()"></div>


        <div class="createTaskTab hidden" id="CreateTaskTab">
            <div class="go-back-icon" onclick="toggleVisibilityCreateDialog()">
                <img src="~/images/back_button.png" alt="Go back button" />
            </div>
            <div class="dialog-title-container">
                <div class="page-title">Create new task</div>
            </div>

            <div class="grid-container">
                <div class="left-container">
                    <label>Name:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input"></textarea>
                    <label>Date:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input"></textarea>
                    <label>Priority:</label>
                    <select id="largeField" name="largeField" class="rounded-input">
                        <option value="value1">High</option>
                        <option value="value2">Standart</option>
                        <option value="value3">Low</option>
                    </select>
                </div>

                <div class="right-container">
                    <label>Description:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input-description"></textarea>

                    <div class="create-button">
                        <img src="~/images/createButton.png" alt="create button" />
                    </div>
                </div>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverageCreateTask" onclick="toggleVisibilityCreateDialog()"></div>

        <div class="additionalInfoAboutTaskTab hidden" id="AdditionalInfoAboutTaskTab">
            <div class="go-back-icon" onclick = "toggleVisibilityAdditionalInfoDialog()">
                <img src="~/images/back_button.png" alt="Go back button" />
            </div>
            <div class="dialog-title-container-additional-info">
                <div class="page-title">Additional information</div>
            </div>
            <div class="timer-text">00:00</div>

            <div class="grid-container">
                <div class="left-container">
                    <label>Name:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input"></textarea>
                    <label>Date:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input"></textarea>
                    <label>Priority:</label>
                    <select id="largeField" name="largeField" class="rounded-input">
                        <option value="value1">High</option>
                        <option value="value2">Standart</option>
                        <option value="value3">Low</option>
                    </select>
                </div>

                <div class="right-container">
                    <label>Description:</label>
                    <textarea id="largeField" name="largeField" class="rounded-input-description"></textarea>
                </div>
            </div>
            <div class="button-container">
                <div class="button">
                    <img src="~/images/updateButton.png" alt="update button" />
                </div>
                <div class="button central-button">
                    <img src="~/images/playTimer.png" alt="update button" />
                </div>
                <div class="button">
                    <img src="~/images/finishButton.png" alt="update button" />
                </div>
            </div>
        </div>
        <div class="alphaCoverage hidden" id="coverageAdditionInfo" onclick="toggleVisibilityAdditionalInfoDialog()"></div>

        <div class="plus-button" onclick = "toggleVisibilityCreateDialog()">
            <img src="~/images/plusButton.png" alt="plus button" />
        </div>
    </div>

    @model List<EFCore.Task>

    @if (Model != null)
    {
        <div class="content">
            @foreach (var task in Model)
            {
                <div class="task-card" onclick="toggleVisibilityAdditionalInfoDialog()">
                    <img class="task-checkbox" src="~/images/task_checkbox.png" />
                    <span class="task-name">@task.Name</span>
                    <span class="task-border">|</span>
                    <span class="task-date">@task.Expectedfinishtime</span>
                    <span class="task-border">|</span>
                    @if (task.Priority == 1)
                    {
                        <img class="task-priority" src="~/images/first_prior_image.png" />
                    }
                    else if (task.Priority == 2){
                        <img class="task-priority" src="~/images/second_prior_image.png" />
                    }
                    else if (task.Priority == 3)
                    {
                        <img class="task-priority" src="~/images/third_prior_image.png" />
                    }
                </div>
            }
        </div>
    }
    <script>

        function toggleVisibility() {
            var NavTab = document.getElementById('NavTab');
            var coverage = document.getElementById('coverage');

            if (NavTab.classList.contains('hidden')) {
                NavTab.classList.remove('hidden');
                NavTab.classList.add('visible');
            } else {
                NavTab.classList.remove('visible');
                NavTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        function toggleVisibility1() {
            var UserTab = document.getElementById('UserTab');
            var coverage = document.getElementById('coverage1');

            if (UserTab.classList.contains('hidden')) {
                UserTab.classList.remove('hidden');
                UserTab.classList.add('visible');
            } else {
                UserTab.classList.remove('visible');
                UserTab.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        function toggleVisibilityCreateDialog(){
            var createTaskDialog = document.getElementById('CreateTaskTab')
            var coverage = document.getElementById('coverageCreateTask');

            if (createTaskDialog.classList.contains('hidden')) {
                createTaskDialog.classList.remove('hidden');
                createTaskDialog.classList.add('visible');
            } else {
                createTaskDialog.classList.remove('visible');
                createTaskDialog.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }

        }

        function toggleVisibilityAdditionalInfoDialog() {
            var createTaskDialog = document.getElementById('AdditionalInfoAboutTaskTab')
            var coverage = document.getElementById('coverageAdditionInfo');

            if (createTaskDialog.classList.contains('hidden')) {
                createTaskDialog.classList.remove('hidden');
                createTaskDialog.classList.add('visible');
            } else {
                createTaskDialog.classList.remove('visible');
                createTaskDialog.classList.add('hidden');
            }

            if (coverage.classList.contains('hidden')) {
                coverage.classList.remove('hidden');
                coverage.classList.add('visible');
            } else {
                coverage.classList.remove('visible');
                coverage.classList.add('hidden');
            }
        }

        function DayTable() {
            var dayBtn = document.getElementById('dayBtn');
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');

            dayBtn.style.backgroundColor = '#7A7373';
            weekBtn.style.backgroundColor = '#353535';
            monthBtn.style.backgroundColor = '#353535';
        }

        function WeekTable() {
            var dayBtn = document.getElementById('dayBtn');
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');

            dayBtn.style.backgroundColor = '#353535';
            weekBtn.style.backgroundColor = '#7A7373';
            monthBtn.style.backgroundColor = '#353535';
        }

        function MonthTable() {
            var dayBtn = document.getElementById('dayBtn');
            var weekBtn = document.getElementById('weekBtn');
            var monthBtn = document.getElementById('monthBtn');

            dayBtn.style.backgroundColor = '#353535';
            weekBtn.style.backgroundColor = '#353535';
            monthBtn.style.backgroundColor = '#7A7373';
        }

    </script>

</body>
</html>
