﻿
@model TimeAndTuneWeb.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #5FA6E7;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        p {
            font-weight: 600;
            font-size: 18px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 350px;
            margin-bottom: 0px;
        }

        .form-control {
            background-color: #A6A3A3;
            color: black;
            width: 50%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group {
            margin-bottom: 28px;
        }

        .btn-primary {
            background-color: #1C4335;
            border: 2px solid white;
            width: 150px;
            height: 50px;
            font-size: 20px;
            margin-top: 45px;
            margin-left: 560px;
        }

        a {
            color: white;
        }

        .back {
            font-size: 20px;
            position: relative;
            top: 15px;
            left: 610px;
        }

    </style>
</head>
<body>

    <div class="header">

        <div class="page-title-container">
            <div class="page-title">Sign In</div>
        </div>

    </div>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <p>Email:</p>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Reset</button>

        <div class="back">
            <a asp-area="" asp-controller="Account" asp-action="Login">Back</a>
        </div>
    </form>

</body>
</html>