﻿
@model TimeAndTuneWeb.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #25232A;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:60px;
            margin-bottom: 60px;
        }

        .page-title-container {
            width: 240px;
            height: 80px;
            background: rgba(137, 26, 26, 0);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: 5px solid #5FA6E7;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }

        .page-title {
            font-size: 30px;
            color: white;
            margin-left: 10px;
        }

        label{
            font-weight:600;
            font-size: 15px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 350px;
            margin-bottom: 5px;
        }

        .form-control {
            background-color: #A6A3A3;
            color: black;
            width: 50%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group{
            margin-bottom: 48px;
        }

        .text-danger {
            color: red; 
            font-size: 14px;
            display: block;
            margin-left: 350px; 
        }


        .btn-primary {
            background-color: #1C4335;
            border: 2px solid white;
            width: 150px;
            height: 50px;
            font-size: 20px;
            margin-top: 45px;
            margin-left: 560px;
        }

        .forgot-password {
            margin-top: 15px;
            color: white;
            margin-left: 340px;
        }

        .new-password {
            margin-top: 0px;
            color: white;
            margin-left: 730px;
        }

        a{
            color:white;
        }

        .create-acc{
            font-size: 20px;
            position: relative;
            top: 15px;
            left: 570px;
        }

    </style>
</head>
<body>

    <div class="header">
        
        <div class="page-title-container">
            <div class="page-title">Sign in</div>
        </div>
        
    </div>
    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger" placeholder="8+ characters"></span>
            <div class="forgot-password">
                <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
            </div>
            <div class="new-password">
                <a asp-area="" asp-controller="Account" asp-action="NewPassword">Do you want to change password?</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <div class="create-acc">
            <a asp-area="" asp-controller="Account" asp-action="Register">Create account</a>
        </div>
    </form>

</body>
</html>